<!-- first_past_the_post.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>First Past the Post by Constituency</title>
</head>
<body>
    <nav>
        <h1>First past the post by Constituency</h1>
        <a href="{{ url_for('index') }}"><button type="button" class="menu-button">Main Menu</button></a>
    </nav>
    <main>
    <table border="1">
        <thead>
            <tr>
                <th>Party Name</th>
                <th>Total Votes</th>
                <th>Seats Won</th>
            </tr>
        </thead>
        <tbody>
            {% for party_id, party_name, total_votes, seats_won in party_results %}
                <tr>
                    <td>{{ party_name }}</td>
                    <td>{{ total_votes }}</td>
                    <td>{{ seats_won }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>
