<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Main Menu</title>
</head>

<body>
    <nav id="main-nav">
        <h1>Main Menu</h1>
    </nav>
    <main>
        <section class="menu-section">
            <a href="{{ url_for('results', election_system_name='First_Past_the_Post') }}"><button type="button" class="menu-button">First past the post by Constituency</button></a>
            <a href="{{ url_for('results', election_system_name='Simple_Proportional_Representation') }}"><button type="button" class="menu-button">Simple Proportional Representation</button></a>
            <a href="{{ url_for('results', election_system_name='Simple_Proportional_Representation_with_5%_Threshold') }}"><button type="button" class="menu-button">Simple Proportional Representation with 5% Threshold</button></a>
            <a href="{{ url_for('results', election_system_name='Proportional_Representation_by_County') }}"><button type="button" class="menu-button">Simple Proportional Representation by County</button></a>
            <a href="{{ url_for('results', election_system_name='Largest_Remainder_by_County') }}"><button type="button" class="menu-button">Largest Remainder by County</button></a>

        </section>
    </main>
</body>

</html>