<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Main Menu</title>
</head>

<body>
    <nav id="main-nav">
        <h1>Main Menu</h1>
    </nav>
    <main>
        <section class="menu-section">
            <a href="{{ url_for('first_past_the_post') }}"><button type="button" class="menu-button">First past the post by Constituency</button></a>
            <a href="{{ url_for('simple_proportional_representation') }}"><button type="button" class="menu-button">Simple Proportional Representation</button></a>
            <a href="{{ url_for('proportional_representation_with_threshold') }}"><button type="button" class="menu-button">Simple Proportional Representation with 5% Threshold</button></a>
            <a href="{{ url_for('results') }}"><button type="button" class="menu-button">Results</button></a>
        </section>
    </main>
</body>

</html>