<!-- first_past_the_post.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Simple Proportional Representation</title>
</head>

<body>

    <nav>
        <h1>Simple Proportional Representation with 5% Threshold</h1>
        <a href="{{ url_for('index') }}"><button type="button" class="menu-button">Main Menu</button></a>
    </nav>
    
    <section class="info">
        <section class="stats">
            <p>Total Votes: {{ total_votes }}</p>
            <p>Votes after Threshold: {{ total_valid_votes }}</p>
            <p>Total Seats: {{ total_seats }}</p>
        </section>

        <section class="stats">
            <p><strong>Party with Most Seats: {{ party_with_most_seats }} ({{ most_seats }} Seats)</strong></p>
            <p><strong>Different from actual winner: {% if party_with_most_seats != "Conservative" %}Yes{% else %}No{% endif %}</strong></p>
        </section>
    </section>

    <table border="1">
        <thead>
            <tr>
                <th>Party Name</th>
                <th>Votes</th>
                <th>Seats Won</th>
                <th>Percentage of the Seats</th>
                <th>Percentage of the Votes that met the Threshold</th>
                <th>Difference Between Percentage Of Popular Votes And Percentage Of Seats</th>
                <th>Seats Difference From Winner</th>
            </tr>
        </thead>
        <tbody>
            {% for party_name, total_votes in party_results %}
            <tr>
                <td>{{ party_name }}</td>
                <td>{{ total_votes }}</td>
                <td>
                    {% for party, seats_won in seats_results.items() %}
                    {% if party == party_name %}
                    {{ seats_won }}
                    {% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% for party, seats in seats_results.items() %}
                    {% if party == party_name %}
                    {{ '%.2f'|format(seats / total_seats * 100) }}%
                    {% endif %}
                    {% endfor %}
                </td>

                <td>
                    {% if party_name in vote_percentages %}
                        {{ vote_percentages[party_name] }}%
                    {% else %}
                        0.00%
                    {% endif %}
                </td>

                <td>
                    {% if party_name in vote_seat_differences %}
                        {{ vote_seat_differences[party_name] }}%
                    {% else %}
                        0.00%
                    {% endif %}
                </td>

                <td>
                    {% for party, difference in seat_differences_from_winner.items() %}
                        {% if party == party_name %}
                            {{ difference|abs }}
                        {% endif %}
                    {% endfor %}
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>