<!-- simple_proportional_representation.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Simple Proportional Representation</title>
</head>

<body>
    <nav>
        <h1>Simple Proportional Representation</h1>
        <a href="{{ url_for('index') }}"><button type="button" class="menu-button">Main Menu</button></a>
    </nav>
    <main>
        <table border="1">
            <thead>
                <tr>
                    <th>Party Name</th>
                    <th>Total Votes</th>
                    <th>Proportional Seats</th>
                </tr>
            </thead>
            <tbody>
                {% for party_name, total_votes, proportional_seats in party_results %}
                <tr>
                    <td>{{ party_name }}</td>
                    <td>{{ total_votes }}</td>
                    <td>{{ proportional_seats }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>